* {
    scroll-behavior: smooth;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

html {
    min-width: 265px;
}

span {
    display: block;
    margin: 5px;
}

.app.cold {
    min-height: 100vh;
    border-radius: unset;
    background-image: url('resources/assets/backgrounds/cold-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.4s ease-out;
}

.app.warm {
    min-height: 100vh;
    border-radius: unset;
    background-image: url('resources/assets/backgrounds/warm-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.4s ease-out;
}

.main-container {
    display: grid;
    gap: 1.5rem;
    place-items: center;
    margin-top: 3rem;
    grid-auto-flow: row;
}

.main-container-header {
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    background: #485c79;
    border-radius: unset;
    padding: 10px;
}

.content-container-grid-flow-column {
    display: grid;
    width: 70%;
    gap: 1rem;
    padding: 18px;
    grid-auto-flow: column;
    background: linear-gradient(to bottom, #485c79, #7a8e8a);
}

.content-container-grid-flow-row {
    display: grid;
    width: 70%;
    gap: 1rem;
    padding: 18px;
    grid-auto-flow: row;
    background: linear-gradient(to bottom, #485c79, #7a8e8a);
}

.app-info-container, .search-container {
    display: flex;
    align-items: center;
}

.search-container {
    justify-content: right;
}


.grid-flow-row {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: repeat(1, 1fr);
}

.grid-flow-column {
    display: grid;
    place-items: start;
    padding: 18px;
    grid-template-columns: repeat(3, 1fr);
}

.flow-left {
    place-items: start;
    text-align: left;
    grid-column-start: span 2;
}

.flow-right {
    width: 35vw;
    place-items: end;
    text-align: right;
}

.last-element-margin {
    margin-bottom: 55px;
}

.app-logo {
    width: min(20%, 3.5rem);
    margin-right: min(4%, 20px);
}

.app-label {
    font-family: "Segoe UI Black", sans-serif;
    font-size: min(4.5vw, 1.7rem);
}

.search-icon {
    width: min(13%, 2rem);
    margin: 5px 10px;
}

.weather-icon {
    width: 150px;
}

.information-icon {
    width: 30px;
}

.large-bold-font {
    font-size: 28px;
    font-weight: bold;
}

.normal-font {
    font-size: 18px;
}

.normal-bold-font {
    font-size: 18px;
    font-weight: 600;
}

.medium-bold-font {
    font-size: 22px;
    font-weight: bold;
}

.medium-bold-center-font {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.large-bold-cursive-font {
    font-family: "Segoe UI Black", sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

.input-field {
    width: 73%;
    border: 0;
    outline: 0;
    border-radius: unset;
    border-bottom: 2px solid #eee;
    background: transparent;
    text-align: right;
}

.input-field::placeholder {
    color: #eee;
    font-size: min(3vw, 1.2rem);
}

.input-field:focus {
    font-weight: 600;
    border-width: 3px;
    border-image: linear-gradient(to right, #f4f4f4, #65baaf);
    border-image-slice: 1;
}


.back-to-top {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    outline: 0;
    background-color: #FF9800;
    text-decoration: none;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
}

.back-to-top::before {
    content: "^";
    font-size: 2.5rem;
    color: #fff;
}

.back-to-top:hover {
    cursor: pointer;
    background-color: #cc7900;
}

.back-to-top:active {
    background-color: #b26a00;
}


/* For mobile phones: */
@media only screen and (max-width: 366px) {
    .main-container-header {
        grid-auto-flow: row;
        gap: 1rem;
    }

    .app-info-container {
        display: flex;
        justify-content: center;
    }

    .app-logo {
        width: 20%;
    }

    .app-label {
        font-size: 30px;
    }

    .input-field {
        text-align: center;
        width: 100%;
    }

    .input-field::placeholder {
        font-size: 1.3rem;
    }
}

/* For tablets: */
@media only screen and (max-width: 400px) {
    .content-container-grid-flow-column {
        grid-auto-flow: row;
    }

    .white-border {
        border-top: 4px solid #eee;
    }
}

/* For tablets: */
@media only screen and (max-width: 600px) {
    .content-container-grid-flow-column {
        width: 100%;
        padding: 0;
    }

    .content-container-grid-flow-row {
        width: 100%;
        padding: 0;
    }

    .grid-flow-row {
        padding: 18px;
    }

    .medium-padding {
        padding-left: 18px;
        padding-top: 18px;
    }

    .back-to-top {
        width: 100%;
        height: 45px;
        bottom: 0;
        right: 0;
    }
}